
.mycolors{

   color: brown;
   text-align: center;
   font-size: larger;
   font-size: 80px;
 font-family:'Times New Roman', Times, serif;
}
.sai{
color:gold
}

.sai2{
    color:rgb(10, 10, 10);
}

