
.mycolors{

   color: brown;
   text-align: center;
   font-size: larger;
   font-size: 80px;
 font-family:'Times New Roman', Times, serif;
}
.sai{
color:gold
}

.imgc{
    color:red
}

.mucolor{
  background-color: rgb(170, 52, 52);
}
.mucolor2{
  border:1px solid;
  width:1300px;
  height:500px;
  text-align: center;
}